src/main/resources/api/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/helloworld"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/helloworld"
             name="HelloWorldService">

    <!-- Types Section -->
    <types>
        <xsd:schema targetNamespace="http://example.com/helloworld">
            <xsd:element name="sayHelloRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sayHelloResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeting" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Messages Section -->
    <message name="SayHelloRequest">
        <part name="parameters" element="tns:sayHelloRequest"/>
    </message>
    <message name="SayHelloResponse">
        <part name="parameters" element="tns:sayHelloResponse"/>
    </message>

    <!-- Port Type Section -->
    <portType name="HelloWorldPortType">
        <operation name="sayHello">
            <input message="tns:SayHelloRequest"/>
            <output message="tns:SayHelloResponse"/>
        </operation>
    </portType>

    <!-- Binding Section -->
    <binding name="HelloWorldBinding" type="tns:HelloWorldPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="http://example.com/helloworld/sayHello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Section -->
    <service name="HelloWorldService">
        <port name="HelloWorldPort" binding="tns:HelloWorldBinding">
            <soap:address location="http://example.com/helloworld"/>
        </port>
    </service>

</definitions>
